.search {
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.title {
  padding: 5px;
  margin-right: 2.5px;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
}

.input {
  padding: 2.5px;
  border-radius: 5px;
  border: none;
  margin-right: 3px;
}

button {
  background-color: hsl(215, 32%, 27%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 7px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
}

button:hover {
  background-color: hsl(217, 34%, 40%);
}
